/* .contaninerHead{
  display: flex;
  justify-content: center;
  align-items: center;

}


.container{
  display: flex;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  width: 1280px;
  padding: 0 16px;
}
.head{
  width: 100%;
  font-size: 2vw;
} */